<%= form_with model: @post, url: posts_path, method: :post do |f| %>
  <div>
    <%= f.label :posted_text, "タイトル" %>
    <%= f.text_area :posted_text %>
  </div>
  <div>
    <%= f.label :sentence, "内容" %>
    <%= f.text_area :sentence %>
  </div>
  <div>
    <%= f.submit "投稿",class:"btn btn-info mt-4" %>
  </div>
<% end %>